{% if form.vars.errors|length %}
	{% if form.vars.errors|length > 1 %}
		{% set errors = '<ul>' %}
		{%  for error in form.vars.errors %}
			{% set errors = errors ~ '<li>' ~ form.vars.errors[loop.index - 1].message ~ '</li>' %}
		{% endfor %}
		{% set errors = errors ~ '</ul>' %}
	{% else %}
		{% set errors = form.vars.errors[0].message %}
	{% endif %}
	{% include ':Component:alert.html.twig' with { type: 'danger', alert: errors } %}
{% endif %}