{# Simple URL generator for table ordering, perhaps change this later on for more neatness #}
{% if (route is defined and route is not empty) and (field is defined and field is not empty) %}
	{% set isCurrentField = (request('field') == field) %}
	{% set orderDirection = ((isCurrentField and request('order') == 'asc') ? 'desc' : ((request('order') == null or isCurrentField == false) ? 'asc' : null)) %}
	{% set orderTooltip = (orderDirection is not null) ? ('Order ' ~ orderDirection|upper) : 'Reset ordering' %}
	{% set routeParams = app.request.attributes.get('_route_params') %}
	{% set queryParams = app.request.query.all|merge({ field: ((isCurrentField and request('order') == 'desc') ? null : field), order: orderDirection }) %}
	{% set merged = routeParams|merge({ offset: request('offset'), limit: request('limit') })|merge(queryParams) %}
	<a href="{{ path(request('_route'), merged) }}" data-toggle="tooltip" data-placement="top" title="{{ orderTooltip|trans }}">
		{% block label %}{% endblock label %}
		{% if request('order') and isCurrentField %}
			<i class="glyphicon glyphicon-sort-by-{{ (request('order') == 'desc') ? 'alphabet-alt' : 'alphabet' }}"></i>
		{% endif %}
	</a>
{% else %}
	{% include 'RecognizeExtraBundle:Component:error.html.twig' %}
{% endif %}